<h1><%= params[:my] ? 'Мои' : 'Все' %> петиции</h1>
  <% if params[:my] %>
    <table class="table">
      <thead>
      <tr>
        <th>Петиция</th>
        <th>Редактирование</th>
      </tr>
      </thead>
      <% @petition.each do |petition| %>
        <tr>
          <td><%= link_to petition.title, petition_path(petition) %></td>
          <td><%= link_to 'Редактировать', edit_petition_path(petition) %></td>
          <td><%= link_to 'Удалить', petition,
                  method: :delete,
                  data: { confirm: 'Вы действительно хотите удалить?' } %></td>
        </tr>
      <% end %>
    </table>

  <% else %>
    <table class="table">
      <thead>
      <tr>
        <th>Петиция</th>
        <th>Без редактирование</th>
      </tr>
      </thead>
      <% @petition.each do |petition| %>
        <tr>
          <td><%= link_to petition.title, petition_path(petition) %></td>
        </tr>
      <% end %>
    </table>
  <% end %>